<aol-map [width]="'750px'" [height]="'500px'" id="map" (onClick)="handleEvent($event)">
  <aol-interaction-default></aol-interaction-default>

  <aol-view [zoom]="zoom">
    <aol-coordinate [x]="-98" [y]="40" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>

  <aol-layer-tile [opacity]="1">
    <aol-source-osm></aol-source-osm>
  </aol-layer-tile>

  <aol-layer-vector>
    <aol-source-vector>
      <aol-feature *ngFor="let p of points" id="{{p.name}}">
        <aol-geometry-point>
          <aol-coordinate [x]="p.x" [y]="p.y" [srid]="'EPSG:4326'"></aol-coordinate>
        </aol-geometry-point>

        <aol-style>
          <aol-style-circle [radius]="(4 * p.size) + 8">
            <aol-style-stroke [color]="p.color" [width]="3"></aol-style-stroke>
            <aol-style-fill [color]="'#ffffff80'"></aol-style-fill>
          </aol-style-circle>
          <aol-style-text [text]="p.size.toString()">
            <aol-style-fill [color]="'#333'"></aol-style-fill>
          </aol-style-text>
        </aol-style>
      </aol-feature>
    </aol-source-vector>
  </aol-layer-vector>
</aol-map>

<div id="zoom">
  <button [ibmButton]="secondary" [size]="sm" (click)="zoomIn()">+</button>
  <button [ibmButton]="secondary" [size]="sm" (click)="zoomOut()">-</button>
</div>


<div style="margin: 30px;">
	<n-bar-chart class="n-chart" [data]="barData" [options]="barOptions" width="100%" height="400" #barChart>
	</n-bar-chart>
</div>
